# Gradle
.gradle/
build/

# IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
logs/
*.log

# Mac
.DS_Store

# Java
*.class
*.jar
*.war
*.ear

# Correct exception for Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/
